<ion-header>
  <ion-toolbar color="primary" class="ion-color ion-color-primary hydrated">
    <ion-title>
      Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <ion-progress-bar *ngIf="isLoader" type="indeterminate"></ion-progress-bar>
  <div class="container">
    <div class="row mt-5" *ngIf="isError">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Source and Destination are same!!!</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-2 mt-2">
        <ion-label>Source</ion-label>
      </div>
      <div class="col-sm-10">
        <ion-select placeholder="Source" [(ngModel)]="source" (ionChange)="selectSource(source)">
          <ion-select-option  *ngFor="let data of stations" value={{data.abbr}}>{{data.name}}</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-2 mt-2">
          <ion-label>Destination</ion-label>
        </div>
        <div class="col-sm-10">
          <ion-select placeholder="Destination"  [(ngModel)]="destination" [disabled]="isDisabled" (ionChange)="selectDestination(destination)">
              <ion-select-option  *ngFor="let data of stations" value={{data.abbr}}>{{data.name}}</ion-select-option>
            </ion-select>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div>
          <button name="submit" class="btn btn-primary form-control" (click)="getTrips()" [disabled]="isbtnDisabled">Check</button>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="scheduleArray1.length > 0">
        <ion-card class="welcome-card" *ngFor="let data of scheduleArray1">
            <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
            <ion-card-header>
              
            </ion-card-header>
            <ion-card-content>
              <div class="row">
                <div class="col-sm-12"><div>
                    <span>Depart Time: </span> <span> {{data.departTime}}</span>
                  </div>
                  <div>
                      <label>Fare: </label> <span> {{data.fare}}</span>
                  </div>
                  <div>
                      <label>Arrival Time: </label> <span> {{data.arrivalTime}}</span>
                  </div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
    </div>
    <div class="row mt-3" *ngIf="showMap">
        <div class="col-sm-2"> </div>
        <div class="col-sm-9">
            <app-google-maps *ngIf="showMap" [mapArray]="this.mapArray"></app-google-maps>
          </div>
    </div>
  </div>
</ion-content>