<ion-header>
  <ion-toolbar color="primary" class="ion-color ion-color-primary hydrated">
    <ion-title>
      Want information about stations?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <!--   <ion-progress-bar *ngIf="isLoader" type="indeterminate"></ion-progress-bar> -->
    <ion-card class="welcome-card" *ngFor="let data of stnArray">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-card-header (click)="getStation(data.abbr)">
        <ion-card-subtitle>{{data.name}}</ion-card-subtitle>
        <ion-card-title>{{data.address}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{data.county | uppercase}}, {{data.city}}, {{data.state}}, {{data.zipcode}}</p>
      </ion-card-content>
    </ion-card>

    <div *ngIf="isLoader">
      <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%; height: 121px;"></ion-skeleton-text>
    </div>
  
  </div>

</ion-content>
